.App {
  font-family: sans-serif;
  background-color: transparent;
}
.mainUl {
  display: flex;
}

.bgScript {
  background-image: url("../assets/bgPage2.svg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(128, 236, 118, 0.774),
      rgba(126, 133, 126, 0.007),
      rgba(209, 219, 209, 0),
      rgba(10, 114, 1, 0.774)
    ),
    url("../assets/bgPage2.svg");
}

.bgScriptEx {
  background-image: url("../assets/bgPage2.svg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      #e62ccdfb,
      #dd15c200,
      #201a1aad,
      rgba(12, 12, 12, 0.925)
    ),
    url("../assets/bgPage2.svg");
}

.bgScriptVT {
  background-image: url("../assets/bgPage2.svg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      #fdfd17f6,
      #fdfd1757,
      rgba(7, 7, 7, 0.712),
      rgba(0, 0, 0, 0.425)
    ),
    url("../assets/bgPage2.svg");
}

.bgHome {
  background-image: url("../assets/bgPage2.svg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to top,
      rgba(155, 219, 227, 0.705),
      rgb(253, 252, 252)
    ),
    url("../assets/bgPage2.svg");
}

.textAp {
  animation: front 4s alternate infinite;
}

@keyframes front {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(3px);
  }
}

.animateCard {
  animation: animateCard 0.5s alternate ease-out;
}

@keyframes animateCard {
  0% {
    transform: translateY(580px);
    border-radius: 210%;
  }

  100% {
    transform: translateY(5px);
    border-radius: 8px;
  }
}
