.App {
  font-family: sans-serif;
  background-color: transparent;
}
.mainUl {
  display: flex;
}

.myFont {
  font-family: "Lilita One", cursive;
  font-size: 28px;
  letter-spacing: 1px;
  text-decoration: underline;
}
.mySubFont {
  font-family: "Lilita One", cursive;
  font-size: 21px;
  letter-spacing: 1px;
}

.bgScript {
  background-image: url("../assets/bgPage2.svg");
  background-size: 100vw 77vh;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to top,
      rgba(13, 214, 13, 0.5),
      rgba(114, 233, 124, 0.664),
      rgba(149, 207, 143, 0.527),
      rgba(199, 225, 236, 0)
    ),
    url("../assets/bgPage2.svg");
}

.bgScriptEx {
  background-image: url("../assets/bgPage2.svg");
  background-size: 100vw 77vh;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      #ce1fceef,
      #c906afe0,
      #c41aa8ee,
      #c008c0ee
    ),
    url("../assets/bgPage2.svg");
}

.bgScriptVT {
  background-image: url("../assets/bgPage2.svg");
  background-size: 100vw 77vh;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      #ffe312ce,
      #ffe312b6,
      #ffe312da,
      #ddc300
    ),
    url("../assets/bgPage2.svg");
}

.bgHome {
  background-image: url("../assets/bgPage2.svg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to top,
      rgba(40, 192, 212, 0.514),
      rgba(253, 252, 252, 0.13),
      rgba(253, 252, 252, 0.11)
    ),
    url("../assets/bgPage2.svg");
}

textAp {
  animation: front 2s alternate infinite;
}

@keyframes front {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(5px);
  }
}

.animateCard {
  animation: animateCard 0.7s alternate ease-out,
    bgAnimation 1.7s alternate infinite ease-in-out;
}

@keyframes animateCard {
  0% {
    transform: translateX(2700px);
    height: 5vh;
    border-radius: 70%;
  }

  100% {
    transform: translateX(0);
    height: 70vh;
    border-radius: 8px;
  }
}

@keyframes bgAnimation {
  0% {
    background-position-y: -31px;
  }

  100% {
    background-position-y: 0px;
  }
}
