* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.046));
}
.modal {
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 380px;
  height: 420px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.form {
  position: absolute;
  z-index: 2;
  width: 375px;
  height: 415px;
  background-color: black;
  border-radius: 7px;
}

.modal::before {
  content: "";
  width: 380px;
  height: 420px;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: 1;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    red,
    red,
    #45f3ff
  );
  transform-origin: bottom right;
  margin-block: 10px;
  animation: animate 5s linear infinite;
}
.modal::after {
  content: "";
  width: 380px;
  height: 420px;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: 1;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  transform-origin: bottom right;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
